*{
    box-sizing: border-box;
}
  html, 
  body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Fira Sans', sans-serif;
    background-color: #e6e6e6;
  }
  .page-wrapper{
    width: auto;
  }

  #catname{
      color: #155eb1;
      text-align: center;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: -15px;
  }

  /* Flip categories Cards*/
  .card{
      width: 300px;
      height: 250px;
      transform-style: preserve-3d;
      perspective: 600px;
      transition: 0.5s;
        
      border-radius: 10%;
  }
  .card .front{
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 250px;
      backface-visibility: hidden;
      transform: rotateX(0deg);
      transition: 0.5s;
      background: #b9cfe8;
      border-radius: 10%;
  
  }
    .front > img{
        width: 300px;
        height: 200px;
        border-radius: 10% 10% 0% 0%;
}
    .front > h3{
         text-align: center;
         margin-top: 10px;
         margin-left: 70px;
         margin-right: 70px;
         color: #155eb1;
         font-weight: 500;
}
  .card:hover .front{
      transform: rotateX(-180deg);
  }

  .card .back{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b9cfe8;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    border-radius: 10%;
}
.card:hover .back{
    transform: rotateX(0deg);
}
.back .details ul{
    margin: 0;
}
.back .details h4{
    text-align: center;
    margin: 0;
    margin-top: 15px;
}
   /*END  Flip categories Cards*/
  
   /*DESKTOP VERSION*/
   @media only screen and (min-width: 600px){  
       .page-wrapper{
        max-width: 1080px;
        margin: auto;
       }

       .card{    /*desktop verzija za kategorije*/
            float: left;
            margin-left:45px;
            margin-top: 45px;
       }
       #cats{

                width: auto;
             }
        }

   @media only screen and (max-width: 600px){
    
    .card{
        margin: auto;
        margin-top: 30px;
    }
    
   }
  

   @media only screen and (min-width: 690px) and (max-width: 1034px){
    .card{
            background-color: red;
    }
   }